#container {
  height: 100%;
  background-color: blue;
  display: flex;
  /* align-items: center; */
  padding: 20px;
  font-family: "Open Sans", Roboto, Ubuntu, Tahoma, Geneva, sans-serif;
}

svg {
  height: 30px;
  margin-right: 10px;
}

#navigation-col {
  background: white;
  width: 200px;
  height: inherit;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#tweets-col {
  background: white;
  width: 500px;
  height: 100%;
  margin: 10px;
  padding: 20px;
}

#trends-col {
  background-color: white;
  width: 350px;
   margin: 10px; 
  padding: 20px;
}

#icon {
  color: blue;
  margin-right: 10px;
}

#nav-btn {
  display: flex;
  align-items: center;
  /* margin: 10px; */
}
#explore-btn {
  color: black;
  margin-right: 10px;
}

.icon {
  height: 50px;
  width: 50px;
}

.home {
  color: #00acee;
}
.explore {
  color: #00acee;
}
.notifications {
  color: #00acee;
}
.messages {
  color: #00acee;
}
.bookmarks {
  color: #00acee;
}
.lists {
  color: #00acee;
}
.profile {
  color: #00acee;
}
.more {
  color: #00acee;
}
.tweet {
  color: #00acee;
}
.button {
  background-color: #00acee;
  border-radius: 20px;
  padding: 20px;
}

#home {
  display: flex;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
  position: sticky;
  justify-content: space-between;
  align-items: center;
}

.mycustomSVG {
  display: flex;
  flex-basis: auto;
  flex-direction: ltr;

  /* align-items: :right; */
  /* overflow-wrap: break-word; */
}

#whats-happening-row {
  display: flex;
  flex-direction: row;
}

.sunflower-image {
  height: 65px;
  width: 65px;
}

.what-happening-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  color: #00acee;
}

.input-text-col {
  width: 100%;
}

.input-text-col-2 {
  width: 100%;
}

.huski-puppy-image {
  height: 65px;
  width: 65px;
 
}
#user-row {
  display: flex;
  flex-direction: row;
  
}
.input-text-col-2 {
  display: flex;
  flex-direction: column;
  position: sticky;
}

.user-actions {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  
}

.name-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
}



.input-text-col-2 {
  display: flex;
  flex-direction: column;
}
.user-row-2 {
  display: flex;
  flex-direction: row;
}
.input-text-col-3 {
  display: flex;
  flex-direction: column;
  position: sticky;
}
.input-text-col-3 {
  width: 100%;
}
.name-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-top-style: solid;
}
.huski-puppy-image-3 {
  height: 400px;
  width: 100%;
}

#search-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
box-sizing: border-box;
  border: 2px solid #00acee;
  border-radius: 2px;
  font-size: 2px;
  background-color: grey;
  background-image: url('searchicon.png');
  background-position: 2px 2px; 
  /* background-repeat: no-repeat; */
  padding: 4px 4px 4px 4px;
}

#trends-row {
  display: flex;
  flex-direction: column;
  border: indigo;
}
.trends-for-you {
  display: flex;
  border: solid black;
}
.breaking-news-2 {
display: flex;
border: solid blue;
justify-content: space-between;
border-bottom-width: 1px;
border-top-width: 1px;
border-bottom-style: solid;
border-top-style: solid;
}
.huski-puppy-image-5 {
  border: solid purple;
  height: 80px;
  width: 80px;
}