#container {
  height: 100vh;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-family: "Open Sans", Roboto, Ubuntu, Tahoma, Geneva, sans-serif;
}

svg {
  height: 30px;
  margin-right: 10px;
}

#navigation-col {
  background: white;
  width: 200px;
  height: inherit;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#tweets-col {
  background: green;
  width: 500px;
  height: inherit;
  margin: 10px;
  padding: 20px;
}

#trends-col {
  background-color: red;
  width: 350px;
  height: inherit;
  margin: 10px;
  padding: 20px;
}

#icon {
  color: blue;
  margin-right: 10px;
}

#nav-btn {
  display: flex;
  align-items: center;
  /* margin: 10px; */
}
#explore-btn {
  color: black;
  margin-right: 10px;
}

.icon {
  height: 50px;
  width: 50px;
}

.home {
  color: #00acee;
}
.explore {
  color: #00acee;
}
.notifications {
  color: #00acee;
}
.messages {
  color: #00acee;
}
.bookmarks {
  color: #00acee;
}
.lists {
  color: #00acee;
}
.profile {
  color: #00acee;
}
.more {
  color: #00acee;
}
.tweet {
  color: #00acee;
}
.button {
  background-color: #00acee;
  border-radius: 20px;
  padding: 20px;
}

.home {
  display: flex;
  flex-direction: row-reverse;
}
