#container {
  height: 100vh;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  font-family: "Open Sans", Roboto, Ubuntu, Tahoma, Geneva, sans-serif;
}

#navigation-col {
  background: white;
  width: 300px;
  height: 100vh;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

#tweets-col {
  background: green;
  width: 500px;
  height: 100vh;
  margin: 10px;
  padding: 20px;
}

#trends-col {
  background-color: red;
  width: 350px;
  height: 100vh;
  margin: 10px;
  padding: 20px;
}

#icon {
  color: blue;
  margin-right: 10px;
}

#nav-btn {
  display: flex;
  align-items: center;
  margin: 10px;
}
#explore-btn {
  color: black;
  margin-right: 10px;
}

.icon {
  height: 50px;
  width: 50px;
}

.home {
  color: #00acee;
}
.explore {
  color: #00acee;
}
.notifications {
  color: #00acee;
}
